.Toolbar {
    background-color: rgb(122, 61, 17);
    color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 0 1rem;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;
}

.ToolbarContainer {
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media(max-width: 500px) {
    .Toolbar nav {
      display: none;
    }
  }