.ContactForm {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.39);
}

.ContactForm h3 {
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}
